<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10"
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>PhoneGap Example HYP</name>

    <description>
        Hypermedia project tim ABC
    </description>

    <author href="https://francescobuonocore.it" email="support@phonegap.com">
        ABC
    </author>


    <plugin name="cordova-plugin-whitelist" />
    <access origin="*" />
    <allow-intent href="*" />

</widget>
