/*some styles*/
html {
    position: relative;
    min-height: 100%;
}

body{
    background-color: #fefefe;
    margin-bottom: 60px;
}

.footer {
    background-color: #004184;
    bottom: 0;
    height: 60px;
    position: absolute;
    width: 100%;
}

.navbar-inverse{
    background-color: #004184;
}

.logo_header img{
    max-height: 100px;
    max-width: 100%;
    margin-bottom:12px;
}

.mainbtn{

}

.mainbtn div{
    border-radius:4px;
    background-color: #004184;
    min-height:80px;
    display:table-cell;
    text-align:center;

}
.mainbtn div a{
    font-size:1.2em;
    text-align:center;
    text-transform: uppercase;
    vertical-align:middle;
    line-height: 80px;
    color:white;
    font-weight:bold;
}


.mainbar.navbar-nav>li {
    float: none;
}

@media screen and (max-device-width: 480px) {
    .logo_header img{
        max-height:100%;
        max-width: 100%;
    }
}