/*some styles*/
html {
    position: relative;
    min-height: 100%;
}

body{
    background-color: #fefefe;
    margin-bottom: 60px;
}

.footer {
    background-color: #004184;
    bottom: 0;
    /*height: 35px;*/
    position: absolute;
    width: 100%;
}

.navbar-inverse{
    background-color: #004184;
}

.logo_header img{
    max-height: 100px;
    max-width: 100%;
    margin-bottom:12px;
}

.mainbtn{

}

.mainbtn div{
    border-radius:4px;
    background-color: #004184;
    min-height:80px;
    display:table-cell;
    text-align:center;

}
.mainbtn div a{
    font-size:1.2em;
    text-align:center;
    text-transform: uppercase;
    vertical-align:middle;
    line-height: 80px;
    color:white;
    font-weight:bold;
}


.mainbar.navbar-nav>li {
    float: none;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 2px 0;
  font-size: 20px;
  line-height: 1.65;
  border-radius: 30px;
}


/** loading modal -- thx to http://stackoverflow.com/questions/1964839/how-can-i-create-a-please-wait-loading-animation-using-jquery */

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('http://i.stack.imgur.com/FhHRx.gif')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

/**end loading modal*/


@media screen and (max-device-width: 480px) {
    .logo_header img{
        max-height:100%;
        max-width: 100%;
    }
}

